{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="container">  
    <div class="row mt-5 mb-3">  
      <div class="col-md-12">  
        <div class="float-left">  
          <h1 class="mb-0 text-center text-white">{{ destination.name }}</h1> 
          <h2 class="mb-0 text-center text-white">Popular sporting event</h2>    
        </div>  
 
    <!-- Destination --> 
    <div class="row">  
      <div class="col-md-12">  
        <div class="card my-3">  
          <div class="card-body">  
            <div class="d-flex flex-column align-items-center">  
              <img class="mb-3" src="{{ destination.image }}" alt="{{ destination.name }}">  
            </div>
            <div class="text-left">
              <h4 class="display-4" style="font-family: 'Georgia', 'Times New Roman', Times, serif;">Description: {{ destination.description }}</h4>
              <h4 class="display-4">Venue: {{ destination.venue }}</h4>  
              <h4 class="display-4">Date: {{ destination.date }}</h4>  
              <h4 class="display-4">Time: {{ destination.time }}</h4>    
            </div>
            <div class="d-flex justify-content-center mt-3">
              <a href="#" class="btn btn-danger btn-lg">Book Now</a>  
            </div>
          </div>  
        </div>  
      </div>  
    </div>
    <hr>
    
    

    
    
    <!-- Comments -->  
    <div class="row">  
      <div class="col-md-12 text-white">  
        <h2>Comments</h1>  
      </div>  
    </div>  
 
    <div class="row border-bottom"> 
      {{ render_form(form,"/destinations/{0}/comment".format(destination.id)) }}
      
      {% for comment in destination.comments %}
      <div class="col-md-12">  
        <b>{{ comment.user.name }} <span class="ml-2 text-muted">January 2024</span></b>
        <p>{{ comment.text }}</p>  
      </div> 
      {% endfor %} 
    </div>  
  </div> 

{% endblock %}