<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Travel App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Optional Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-eN4R7RZQhFSZmOVN6f8XhWzqGd2ss2ur7SyvF+b2vNGG2+krh28S63LXlw7VhxU1" crossorigin="anonymous">
</head>

<body style="background-color: black;">
    <!-- Header -->
    <header class="bg-light border-bottom">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <!-- Your Travel App Name or Logo -->
                <a href="#" class="navbar-brand">Game Glory</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Register/Login/Logout and welcome -->
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link disabled text-muted" href="#">Welcome {{ current_user.name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('destination.create') }}">Create Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bookings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container-fluid">
            <div class="row mt-3 mb-3">
                <div class="col-md-12">
                    {% for message in messages %}
                    <div class="alert alert-info">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endwith %}
    </header>

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="bg-dark text-center text-white mt-4">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Game Glory
                        </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Events
                        </h6>
                        <p><a href="#" class="text-reset">View Events</a></p>
                        <p><a href="#" class="text-reset">Sports</a></p>
                        <p><a href="#" class="text-reset">My Bookings</a></p>
                        <p><a href="#" class="text-reset">Create Events</a></p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p><a href="#" class="text-reset">Pricing</a></p>
                        <p><a href="#" class="text-reset">Settings</a></p>
                        <p><a href="#" class="text-reset">Orders</a></p>
                        <p><a href="#" class="text-reset">Help</a></p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> Brisbane, QLD, AUS</p>
                        <p><i class="fas fa-envelope me-3"></i> info@example.com</p>
                        <p><i class="fas fa-phone me-3"></i> + 0123456789</p>
                        <p><i class="fas fa-print me-3"></i> + 0123456789</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">GameGlory.com</a>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-6Wz2UQZtJnY1yB6nLR+I4p5PRlpTPGZyLCmKp6mIRiK8IwiGRYmKOoRZBGG33/2S" crossorigin="anonymous"></script>
</body>

</html>
